/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button:hover{
    cursor: pointer;
}
/* TYPOGRAPHY */
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* COMMON */
.row{
    display: flex;
}
header{
    color: black;
}
img{
    max-width: 100%;
}
.hero{
    background-color: #b4d0e7;
}
.container-big{
    max-width: 1000px;
    margin: auto;
}
.container-small{
    max-width: 800px;
    margin: auto;
}
.column-small{
    max-width: 30%;
}
.column-big{
    max-width: 70%;
}
input {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 5px;
  }
  input:checked {
    border: 6px solid #0061ff;
    
  }
/* BOTTONI */
.btn-header{
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
    border: 1px solid #0061ff ;
    font-size: 14px;
    margin-left: 10px;
}
.btn-blue{
    background-color: #0061ff;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #0061ff;
}
/* HEADER */
header li{
    padding: 20px;
}
header .row{
    justify-content: space-between;
}
header a{
    color: black;
}
header{
    background-color: white;
}
.sign-in{
    padding-top: 18px;
}
/* MAIN */

/* HERO */
.container-big h1{
    font-size: 65px;
    padding-top: 80px;
    text-align: left;
}
.column-small button{
    margin: 30px 0;
}
.column-small i{
    display: block;
    font-size: 40px;
    margin-top: 10px;
}
.hero .column-big,.column-small{
    position: relative;
    top: 73px;
}
/* /HERO */
/* BUSINESS */
h2:first-child{
    margin-top: 160px;
    font-size: 30px;
    font-weight: bold;
}
.business{
    padding-top: 50px;
    padding-bottom: 30px;
}
.business label{
    margin-right: 30px;
}
/* FOOTER */