/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button:hover{
    cursor: pointer;
}
/* TYPOGRAPHY */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* COMMON */
.row{
    display: flex;
}
header{
    color: black;
    padding: 20px;
}
img{
    max-width: 100%;
}
.hero{
    background-color: #b4d0e7;
}
.container-big{
    max-width: 61vw;
    margin: auto;
}
.container-small{
    max-width: 52vw;
    margin: auto;
}
.column-small{
    max-width: 30%;
}
.column-big{
    max-width: 70%;
}
input {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 5px;
  }
  input:checked {
    border: 6px solid #0061ff;
  }
  .gray{
    color: gray;
}
.blue{
    color: #0061ff;
}
/* BOTTONI */
.btn-header{
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
    border: 1px solid #0061ff ;
    font-size: 18px;
}
.btn-blue{
    background-color: #0061ff;
    color: white;
    font-size: 18px;
    padding: 10px 10px;
    border: 1px solid #0061ff;
}
/* HEADER */
header .row{
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-right: 40px;
}
header a{
    color: black;
}
header{
    background-color: white;
}
.header-col{
    align-items: center;
}
header ul li:not(:last-child){
    margin-right: 40px;
}
/* MAIN */

/* HERO */
.container-big h1{
    font-size: 80px;
    padding-top: 80px;
    text-align: left;
    font-weight: 700;
}
.column-small button{
    margin: 30px 0;
}
.column-small i{
    display: block;
    font-size: 40px;
    margin-top: 10px;
}
.hero .column-big,.column-small{
    position: relative;
    top: 73px;
}
.column-small .fa-arrow-down{
    margin-top: 110px;
}
.p-hero{
    font-size: 18px;
}
/* /HERO */
/* BUSINESS */
h2:first-child{
    margin-top: 160px;
    font-size: 30px;
    font-weight: bold;
}
.business{
    padding-top: 50px;
    padding-bottom: 30px;
}
.business label{
    margin-right: 30px;
}
/* /BUSINESS */
/* PIANI TARIFFARI */
.prices{
    justify-content: space-between;
}
.rates{
    width: calc(100% / 3 - 30px);
    border: 1px solid lightgray;
}
.rates .tag{
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid lightgray;
}
.tag i{
    margin-right: 5px;
}
.rates .content{
    padding: 30px;
}
.rates .content > *:not(:last-child){
    margin-bottom: 50px;
}
.content a{
    text-decoration: underline;
}
.header-content > *:not(:last-child){
    margin-bottom: 10px;
}
.content ul li{
    display: flex;
}
.content ul li i{
    margin-right: 10px;
    margin-top: 3px;
}
.content ul li:not(:last-child){
    margin-bottom: 30px;
}
.content hr{
    width: 50px;
    border: 1px solid lightgray;
}
.footer-content h4{
    margin-bottom: 30px;
}
.content button{
    width: 100%;
    padding: 10px 0;
}
/* FOOTER */